<html>
    <head>
        <title>Cool Map Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
    </head>
    <body>
 
        <div id="map" >




        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="/static/javascripts/map.js"></script>
    </body>
</html>